@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: Poppins-Semibold, Arial, sans-serif;
    }
}

.table th {
    border-right: 1px solid #f7f7f7;
}

.table td {
    border-right: 1px solid #f7f7f7;
}
